body {
	background-color: #333;
	color: #ccc;
	font-size: 1.3rem;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding: 0 0 0 20px;
}

h2 b {
	color: orange;
}

div.content {
	margin-left: 20px;
	color: #999;
	font-family: monospace;
}

a {
	color: rgb(229, 229, 169);
}